// -- VARIABILI --
$primary-color: #30004E;
$secondary-color: #FCFCFF;
$tertiary-color: #7042CC;
$accent-color: #8CC53D;
$main-font-color: #24003A;
$gray: #C1B8C6;
$font-main: 'Raleway', sans-serif;
$font-secondary: 'Koulen', sans-serif;
// -- VARIABILI --

#b-intestazione {
    padding: 136px 12px 0 12px;
}

#b-intestazione .b-down {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4px;
    align-items: flex-end;
    border-bottom: solid 1px $gray;
    padding-bottom: 12px;
}

#b-intestazione .b-p1 {
    padding-right: 12px;
    font-style: italic;
}

#b-intro {
    margin-top: 72px;
    margin-bottom: 64px;
    padding: 0 12px;
}

#b-intro .b-p2 {
    margin-top: 12px;
    margin-bottom: 64px;
}

#b-intro .b-p3 {
    margin-top: 12px;
    margin-bottom: 16px;
}

@media (min-width: 744px) {
    #b-intestazione {
    padding: 200px 32px 0 32px;
    }

    #b-intestazione .b-down {
        margin-top: -72px;
    }

    #b-intestazione .b-p1 {
        padding-right: 24px;
    }

    #b-intro {
        margin-top: 104px;
        margin-bottom: 92px;
        padding: 0 32px;
    }

    #b-intro .b-p2 {
        margin-bottom: 92px;
        margin-top: 16px;
    }

    #b-intro .b-p3 {
        margin-top: 16px;
        margin-bottom: 20px;
    }
}

@media (min-width: 1280px) {
    #b-intestazione {
    padding: 200px 64px 0 64px;
    }

    #b-intestazione .b-down {
        margin-top: -112px;
    }

    #b-intestazione .b-p1 {
        padding-right: 32px;
    }

    #b-intro {
        margin-top: 136px;
        margin-bottom: 144px;
        padding: 0 64px;
    }

    #b-intro .b-p2 {
        margin-bottom: 144px;
        margin-top: 24px;
    }

    #b-intro .b-p3 {
        margin-top: 24px;
        margin-bottom: 16px;
    }
}

#drop-down .b-link {
    display: block;
    margin-top: 24px;
}

#drop-down a {
    color: $tertiary-color;
    text-shadow: 0px 2px 4px rgba(60, 0, 97, 0.10);
    font-size: 16px;
}

#drop-down a:hover {
    color: #543199;
}

@media (min-width: 744px) {
    #drop-down .b-link {
        margin-top: 32px;
        margin-bottom: 16px;
    }

    #drop-down a {
        font-size: 20px;
    }
}

@media (min-width: 1280px) {
    #drop-down a {
        font-size: 24px;
    }
}

// -- RISULTATO --
.ris-h2 {
    padding: 0 12px;
    margin-top: 88px;
    margin-bottom: 8px;
}

#b-risultato {
    margin-bottom: 112px;
    padding: 0 12px 48px 12px;
    background: linear-gradient(180deg, #FCFCFF 0%, #A98DE1 37%, #7042CC 59%, #3C0061 87%);
    color: $font-main;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#b-risultato .content {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    margin-top: 48px;
    justify-content: center;
    align-items: center;
}

#b-risultato .result {
    background-color: #F9F8F9;
    color: $main-font-color;
    border-radius: 4px;
    padding: 32px 2px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    text-align: center;
    max-width: 294px;
}

#b-risultato .maiusc-due {
    text-transform: uppercase;
    font-weight: 600;
}

#b-risultato .link {
    text-align: center;
    margin: 32px 0 0 0;
    padding: 0;
}

#b-risultato a {
    color: $accent-color;
    text-shadow: 0px 2px 10px rgba(253, 253, 255, 0.20);
}

#b-risultato a:hover {
    color: #EFFDDB;
}

#b-risultato .b-link-desktop {
    display: none;
}

@media (min-width: 744px) {
    .ris-h2 {
        padding: 0 32px;
        margin-top: 124px;
        margin-bottom: 56px;
    }

    #b-risultato .content {
        flex-direction: row;
        justify-content: center;
        column-gap: 48px;
    }

    #b-risultato .result {
        padding: 32px 2px;
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        max-width: 332px;
    }

    #b-risultato .link {
        text-align: center;
        margin: 52px 0 0 0;
        padding: 0;
    }

    #b-risultato .b-link-mobile {
        display: none;
    }

    #b-risultato .b-link-desktop {
        display: inline;
    }
}

@media (min-width: 1280px) {
    .ris-h2 {
        padding: 0 64px;
        margin-top: 176px;
        margin-bottom: 72px;
    }

    #b-risultato{
        padding-bottom: 64px;
        margin-bottom: 184px;
    }

    #b-risultato .content {
        margin-top: 88px;
        column-gap: 64px;
    }

    #b-risultato .result {
        padding: 40px 2px 32px 2px;
        row-gap: 32px;
        max-width: 745px;
    }

    #b-risultato .link {
        text-align: center;
        margin: 80px 0 0 0;
        padding: 0;
    }
}
// -- RISULTATO --

#b-conclusioni {
    padding: 0 12px;
}

#b-conclusioni .b-p4 {
    margin: 12px 0 32px 0;
}

#b-conclusioni .b-p5 {
    font-size: 12px;
}

@media (min-width: 744px) {
    #b-conclusioni {
        padding: 0 32px;
    }

    #b-conclusioni .b-p4 {
        margin-top: 16px;
    }

    #b-conclusioni .b-p5 {
        font-size: 16px;
    }
}

@media (min-width: 1280px) {
    #b-conclusioni {
        padding: 0 64px;
    }

    #b-conclusioni .b-p4 {
        margin: 24px 0 56px 0;
    }
}


