// -- VARIABILI --
$primary-color: #30004E;
$secondary-color: #FCFCFF;
$tertiary-color: #7042CC;
$accent-color: #9EDD44;
$main-font-color: #0A0010;
$gray: #C9C4CC;
$font-main: 'Raleway', sans-serif;
$font-secondary: 'Koulen', sans-serif;
// -- VARIABILI --

#m-intestazione {
    padding: 136px 12px 0 12px;
}

#m-intestazione .m-down {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4px;
    align-items: flex-end;
    border-bottom: solid 1px $gray;
    padding-bottom: 12px;
}

#m-intestazione .m-p1 {
    padding-right: 12px;
    font-style: italic;
}

#m-intestazione img {
    width: 142px;
    height: 120px;
}

#m-intro {
    margin-top: 72px;
    margin-bottom: 64px;
    padding: 0 12px;
}

#m-intro .m-p2 {
    margin-top: 12px;
    margin-bottom: 64px;
}

#m-intro .m-p3 {
    margin-top: 12px;
    margin-bottom: 16px;
}

@media (min-width: 744px) {
    #m-intestazione {
    padding: 200px 32px 0 32px;
    }

    #m-intestazione .m-down {
        margin-top: -52px;
    }

    #m-intestazione .m-p1 {
        padding-right: 24px;
    }

    #m-intestazione img {
        width: 260px;
        height: 215px;
    }

    #m-intro {
        margin-top: 104px;
        margin-bottom: 92px;
        padding: 0 32px;
    }

    #m-intro .m-p2 {
        margin-bottom: 92px;
        margin-top: 16px;
    }

    #m-intro .m-p3 {
        margin-top: 16px;
        margin-bottom: 20px;
    }
}

@media (min-width: 1280px) {
    #m-intestazione {
    padding: 200px 64px 0 64px;
    }

    #m-intestazione .m-down {
        margin-top: -96px;
    }

    #m-intestazione .m-p1 {
        padding-right: 32px;
    }

    #m-intestazione img {
        width: 388px;
        height: 321px;
    }

    #m-intro {
        margin-top: 136px;
        margin-bottom: 144px;
        padding: 0 64px;
    }

    #m-intro .m-p2 {
        margin-bottom: 144px;
        margin-top: 24px;
    }

    #m-intro .m-p3 {
        margin-top: 24px;
        margin-bottom: 16px;
    }
}

#m-conclusioni {
    padding: 0 12px;
}

#m-conclusioni .m-p4 {
    margin: 12px 0 32px 0;
}

#m-conclusioni .m-p5 {
    font-size: 12px;
}

@media (min-width: 744px) {
    #m-conclusioni {
        padding: 0 32px;
    }

    #m-conclusioni .b-p4 {
        margin-top: 16px;
    }

    #m-conclusioni .b-p5 {
        font-size: 16px;
    }
}

@media (min-width: 1280px) {
    #m-conclusioni {
        padding: 0 64px;
    }

    #m-conclusioni .b-p4 {
        margin: 24px 0 56px 0;
    }
}

// -- RISULTATO --
#m-risultato {
    margin-bottom: 112px;
    padding: 0 12px 48px 12px;
    background: linear-gradient(180deg, #FCFCFF 0%, #A98DE1 37%, #7042CC 59%, #3C0061 87%);
    color: $font-main;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#m-risultato .content {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    margin-top: 48px;
    justify-content: center;
    align-items: center;
}

#m-risultato .result {
    background-color: #F9F8F9;
    color: $main-font-color;
    border-radius: 4px;
    padding: 32px 2px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    text-align: center;
    max-width: 294px;
}

#m-risultato img {
    width: 282px;
    height: 394px;
}

#m-risultato .maiusc-due {
    text-transform: uppercase;
    font-weight: 600;
}

@mixin center-third {
        grid-column: 1 / -1;
        justify-self: center;
}

@media (min-width: 744px) {
    #m-risultato .content {
        flex-direction: row;
        justify-content: center;
        column-gap: 48px;
        flex-wrap: wrap;
    }

    #m-risultato img {
        width: 318px;
        height: 394px;
    }

    #m-risultato .result:nth-child(3) {
        @include center-third;
    }

    #m-risultato .result {
        padding: 32px 2px;
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        max-width: 332px;
    }
}

@media (min-width: 1280px) {
    #m-risultato {
        padding-bottom: 64px;
        margin-bottom: 184px;
    }

    #m-risultato .content {
        margin-top: 88px;
        column-gap: 48px;
        flex-wrap: nowrap;
    }

    #m-risultato .result {
        padding: 40px 2px 32px 2px;
        row-gap: 32px;
        max-width: 745px;
    }

    #m-risultato img {
        width: 356px;
        height: 402px;
    }
}
// -- RISULTATO --

#m-conclusioni {
    padding: 0 12px;
}

#m-conclusioni .m-p4 {
    margin: 12px 0 32px 0;
}

#m-conclusioni .m-p5 {
    font-size: 12px;
}

@media (min-width: 744px) {
    #m-conclusioni {
        padding: 0 32px;
    }

    #m-conclusioni .m-p4 {
        margin-top: 16px;
    }

    #m-conclusioni .m-p5 {
        font-size: 16px;
    }
}

@media (min-width: 1280px) {
    #m-conclusioni {
        padding: 0 64px;
    }

    #m-conclusioni .m-p4 {
        margin: 24px 0 56px 0;
    }
}


