// -- VARIABILI --
$primary-color: #30004E;
$secondary-color: #FCFCFF;
$tertiary-color: #7042CC;
$accent-color: #9EDD44;
$main-font-color: #0A0010;
$gray: #C9C4CC;
$font-main: 'Raleway', sans-serif;
$font-secondary: 'Koulen', sans-serif;
// -- VARIABILI --

.prf-intestazione {
    padding: 136px 12px 0 12px;
}

.prf-p1 {
    margin-top: 28px;
}

@media (min-width: 744px) {
    .prf-intestazione {
        padding: 200px 32px 0 32px;
    }

    .prf-p1 {
        margin-top: 32px;
    }
}

@media (min-width: 1280px) {
    .prf-intestazione {
        padding: 248px 64px 0 64px;
    }
}

// -- MAIN PROJECTS --
#main-prj {
    padding: 0 12px;
    margin-top: 68px;
    margin-bottom: 156px;
}

#main-prj .prf-p2 {
    margin-top: 16px;
    margin-bottom: 40px;
}

#main-prj .name {
    display: flex;
    flex-direction: row;
    column-gap: 162px;
    align-items: center;
    margin-top: 32px;
}

#main-prj .prf-p3 {
    margin-top: 4px;
    font-size: 12px;
}

#main-prj i {
    color: $tertiary-color;
    font-size: 24px;
    text-shadow: 0px 2px 4px rgba(60, 0, 97, 0.15);
}

#main-prj i:hover {
    color: #543199;
}

#main-prj .tag {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

#main-prj .tag-self {
    padding: 8px;
    background-color: $primary-color;
    color: $secondary-color;
    font-size: 12px;
    font-weight: 500;
    border-radius: 8px;
}

@media (min-width: 744px) {
    #main-prj {
        padding: 0 32px;
        margin-top: 108px;
    }

    #main-prj .prf-p2 {
        margin-top: 12px;
        margin-bottom: 56px;
    }

    #main-prj .name {
        column-gap: 138px;
        margin-top: 28px;
    }

    #main-prj .prf-p3 {
        margin-top: 4px;
        font-size: 16px;
    }

    #main-prj .tag {
        margin-top: 32px;
    }

    #main-prj .tag-self {
        font-size: 14px;
    }
}

@media (min-width: 1280px) {
    #main-prj {
    padding: 0 64px;
    margin-top: 132px;
    margin-bottom: 152px;
    }

    #main-prj .prf-p2 {
        margin-top: 32px;
        margin-bottom: 64px;
    }

    #main-prj .name {
        column-gap: 170px;
    }

    #main-prj .prf-p3 {
        margin-top: 4px;
        font-size: 20px;
    }

    #main-prj i {
        font-size: 36px;
    }

    #main-prj .tag {
        margin-top: 32px;
        column-gap: 16px;
    }

    #main-prj .tag-self {
        font-weight: 500;
        font-size: 16px;
    }
}
// -- MAIN PROJECTS --

// -- SIDE PROJECTS --
#side-prj {
    padding: 48px 12px 56px 12px;
    background-color: $primary-color;
    color: $secondary-color;
}

#side-prj .prf-p4 {
    margin-top: 16px;
    margin-bottom: 40px;
}

#side-prj .prjs {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#side-prj img {
    box-shadow: 0px 0px 4px rgba(253, 253, 255, 0.45);
    border-radius: 12px;
}

#side-prj .name-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    max-width: 296px;
}

#side-prj .prf-p-side {
    margin-top: 4px;
    font-size: 12px;
}

#side-prj i {
    font-size: 24px;
    color: $accent-color;
    text-shadow: 0px 2px 10px rgba(253, 253, 255, 0.20);
}

#side-prj i:hover {
    color: #EFFDDB;
}

#side-prj .tag {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

#side-prj .tag-self {
    background-color: $secondary-color;
    color: $main-font-color;
    border-radius: 8px;
    padding: 8px;
    font-weight: 500;
    font-size: 12px;
    margin-top: 20px;
}

#side-prj .linea {
    width: 100%;
    height: 1px;
    background-color: $gray;
    margin: 64px 0;
}

@media (min-width: 744px){
    #side-prj {
        padding: 48px 32px 64px 32px;
    }

    #side-prj .prf-p4 {
        margin-top: 16px;
        margin-bottom: 80px;
    }

    #side-prj .prjs {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        max-width: 800px;
    }

    #side-prj .name-side {
        max-width: 299px;
    }

    #side-prj .name-side {
        margin-top: 28px;
    }

    #side-prj .prf-p-side {
        margin-top: 4px;
        font-size: 16px;
    }

    #side-prj .tag-self {
        font-size: 14px;
        margin-top: 28px;
    }

    #side-prj .linea {
        width: 1px;
        height: 296px;
    }
}

@media (min-width: 1280px){
    #side-prj {
        padding: 56px 64px 88px 64px;
    }

    #side-prj .prf-p4 {
        margin-top: 32px;
        margin-bottom: 88px;
    }

    #side-prj .prjs {
        max-width: 100%;
    }

    #side-prj .name-side {
        max-width: 371px;
    }

    #side-prj .prf-p-side {
        margin-top: 8px;
        font-size: 20px;
    }

    #side-prj i {
        font-size: 36px;
    }

    #side-prj .tag {
        column-gap: 16px;
    }

    #side-prj .tag-self {
        margin-top: 32px;
        font-size: 16px;
    }

    #side-prj .linea {
        width: 1px;
        height: 296px;
    }
}
// -- SIDE PROJECTS --
