// -- PARZIALI --
@import './index';
@import './portfolio';
// -- PARZIALI --

// -- VARIABILI --
$primary-color: #3C0061;
$secondary-color: #FCFCFF;
$tertiary-color: #7042CC;
$accent-color: #AFF64C;
$main-font-color: #24003A;
$gray: #C1B8C6;
$font-main: 'Raleway', sans-serif;
$font-secondary: 'Koulen', sans-serif;
// -- VARIABILI --

// -- GENERALITÀ --
body{
  background-color: $secondary-color;
  margin: 0;
  font-family: $font-main, sans-serif;
  color: $main-font-color;
  font-size: 16px;
  font-weight: 300px;
}

h1 {
    font-family: $font-secondary, sans-serif;
    font-size: 64px;
    font-weight: 400;
    line-height: 125%;
    margin: 0;
}

h2 {
    font-family: $font-secondary, sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 125%;
    margin: 0;  
}

h3 {
    font-family: $font-secondary, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 125%;
    margin: 0;  
}

p {
  margin: 0;
}

.maiusc {
    color: $tertiary-color;
    font-weight: 600;
}

@media (min-width: 744px) {
    body {
     font-size: 20px;
    }

    h1 {
     font-size: 92px;
    }

    h2 {
      font-size: 48px;
    }

    h3 {
      font-size: 28px;
    }
  }

@media (min-width: 1280px) {
    body {
     font-size: 24px;
    }

    h1 {
     font-size: 104px;
    }

    h2 {
      font-size: 64px;
    }

    h3 {
      font-size: 32px;
    }
  }    
// -- GENERALITÀ --

// -- CTA --  
.primary-buttn {
  display: inline-flex;
  background-color: $accent-color;
  color: $primary-color;
  border: none;
  border-radius: 100px;
  padding: 14px 24px;
  font-family: $font-main;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 2px 4px rgba(60, 0, 97, 0.20);
}

.primary-buttn:hover {
  background-color: #8CC53D;
  color: $secondary-color;
}

@media (min-width: 744px) {
  .primary-buttn {
    font-size: 16px;
    padding: 18px 32px;
  }
}

@media (min-width: 1280px) {
  .primary-buttn {
    font-size: 20px;
    padding: 22px 40px;
  }
}
// -- CTA --

// -- NAVIGATION --
.header,
.header * {
  all: unset;
  display: revert;
  box-sizing: border-box;
}

.header {
  background-color: $secondary-color;
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  height: 88px;
  transition: height 0.5s ease-out;
}

.header .logo {
  float: left;
  text-decoration: none;
  padding: 12px 0 0 0;
  margin: 0;
  cursor: pointer;
  line-height: 1;
  }

  .header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-in;
  margin-left: 24px;
  padding-top: 52px;
  line-height: 1;
}

.header ul {
  padding: 0;
  overflow: hidden;
  list-style: none;      
  display: block;            
  align-items: left;
  line-height: 1;
}

.header ul a {
  all: unset;
  display: inline-block;  
  font-family: $font-main, sans-serif;
  color: $tertiary-color;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  text-shadow: 0px 2px 4px rgba(60, 0, 97, 0.10);
  cursor: pointer;
  padding: 0 0 48px 0;
  box-sizing: border-box;
  line-height: 1;
}

.header ul a:hover{
  color: #543199;
}

.header .secondary-buttn {
  display: inline-flex;
  background-color: $secondary-color;
  color: $tertiary-color;
  border: 2px solid $accent-color;
  border-radius: 100px;
  padding: 14px 28px;
  margin-bottom: 48px;
  font-family: $font-main;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(60, 0, 97, 0.20);
  line-height: 1;
}

.header .secondary-buttn:hover {
  background-color: #DFFBB7;
  color: #7042CC;
  border: 2px solid $accent-color;
}

.header .menu-icon {
  padding: 36px 12px 0 0;
  position: relative;
  float: right;
  cursor: pointer;
}

.header .menu-icon .nav-icon {
  background-color: $tertiary-color;
  display: block;
  width: 24px;
  height: 2.5px;
  border-radius: 2px;
  box-shadow: 0px 0px 4px rgba(60, 0, 97, 0.25);
  position: relative;
  transition: background-color .2s ease-out;
}

.header .menu-icon .nav-icon::before,
.header .menu-icon .nav-icon::after {
  background-color: $tertiary-color;
  content:"";
  border-radius: 2px;
  box-shadow: 0px 0px 4px rgba(60, 0, 97, 0.25);
  display: block;
  height: 100%;
  width: 24px;
  transition: all .2s ease-out;
  position: absolute;
  top: 8px;
}

.header .menu-icon .nav-icon::before {
  top: 8px;
}
.header .menu-icon .nav-icon::after {
  top: -8px;
}

.header .menu-icon .nav-icon:hover {
  background-color: #543199;
}
.header .menu-icon .nav-icon:hover::before {
  background-color: #543199;
}
.header .menu-icon .nav-icon:hover::after {
  background-color: #543199;
}

.header .menu-buttn {
  display: none;
}

.header .menu-buttn:checked ~ .menu {
  max-height: 500px;
}

.header .menu-buttn:checked ~ .menu-icon .nav-icon {
  background-color: transparent;
  box-shadow: none;
}
.header .menu-buttn:checked ~ .menu-icon .nav-icon::before {
  transform: rotate(-45deg);
  top: 0;
}
.header .menu-buttn:checked ~ .menu-icon .nav-icon::after {
  transform: rotate(45deg);
  top: 0;
}

.header:has(.menu-buttn:checked) {
  box-shadow: 10px 0px 4px rgba(60, 0, 97, 0.10);
  height: 380px;
}

@media (min-width: 744px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 10px 0px 4px rgba(60, 0, 97, 0.10);
    height: 88px;
  }

  .header ul {
    display: flex;
    align-items: center;
  }

  .header li {
    float: left;
  }

  .header li a {
    padding: 16px 0 0 32px;
    font-size: 20px;
  }

  .header .secondary-buttn {
    margin-left: 32px;
    margin-right: 32px;
    font-size: 18px;
    font-weight: 600px;
    display: inline-flex;
    margin-bottom: 4px;
  }

  .header .logo {
    margin: 4px 0 0 32px;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
    padding-top: 4px;
    display: flex;
    align-items: center;
  }

  .header .menu-icon {
    display: none;
  }

  .header .menu-buttn {
    display: none;
  }
}

@media (min-width: 1280px) {
  .header li a {
    padding: 16px 0 0 40px;
  }

  .header .secondary-buttn {
    margin-left: 40px;
    margin-right: 64px;
    font-size: 18px;
  }

  .header .logo {
    margin-left: 64px;
    margin-top: 0;
  }
}
// -- NAVIGATION --

// -- FOOTER --
#footer {
  width: 100%;
  margin: 0;
  background-color: $primary-color;
  color: $secondary-color;
}

#footer .footer-content {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer .footer-content .logo {
  margin: 0;
  padding: 0;
}

#footer .footer-content ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  margin: 20px 0 40px 0;
  padding: 0;
}

#footer .footer-content ul li {
  padding: 24px 0;
}

#footer .footer-content ul li a:hover {
  color: $tertiary-color;
}

#footer .footer-content .icone {
  margin: 0;
  padding: 0;
}

#footer .footer-content a {
  color: $secondary-color;
  text-decoration: none;
}

#footer .footer-content i {
  font-size: 20px;
  margin: 0 8px;
}

#footer .footer-content i:hover {
  color: $tertiary-color;
}

@media (min-width: 744px) {
  #footer .footer-content {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 32px;
  }

  #footer .footer-content .logo {
    padding: 0;
  }

  #footer .footer-content ul {
    flex-direction: row;
    align-items: baseline;
    margin: 0;
  }

  footer .footer-content ul li a {
    padding: 0 24px;
    font-size: 16px;
  }

  #footer .footer-content .icone {
    display: flex;
    flex-direction: row;
  }
}
// -- FOOTER --

// -- CTA FINALE --
#cta-finale {
  margin: 116px 0;
  padding: 32px 12px;
  display: flex;
  flex-direction: row;
  column-gap: 44px;
  justify-content: center;
  align-items: center;
  background-color: #FDFDFF;
  box-shadow: 0px 0px 4px rgba(24, 0, 39, 0.10);
}

#cta-finale .parliamone {
  font-weight: 600;
  font-size: 36px;
  color: $tertiary-color;
}

#cta-finale .final-p {
  font-size: 20px;
  margin: 32px 0 24px 0;
}

#cta-finale a {
  text-decoration: none;
}

#cta-finale i {
  color: rgba(169, 142, 224, 0.50);
  font-size: 28px;
}

@media (min-width: 744px) {
  #cta-finale {
  margin: 192px 0;
  padding: 48px 32px;
  column-gap: 156px;
  }

  #cta-finale .parliamone {
    font-size: 56px;
  }

  #cta-finale .final-p {
    font-size: 24px;
    margin: 40px 0 32px 0;
  }

  #cta-finale i {
    font-size: 116px;
  }
}

@media (min-width: 1280px) {
  #cta-finale {
  margin: 248px 0;
  padding: 48px 64px;
  column-gap: 332px;
  }

  #cta-finale .parliamone {
    font-size: 72px;
  }

  #cta-finale .final-p {
    font-size: 32px;
    margin: 56px 0 32px 0;
  }

  #cta-finale i {
    font-size: 172px;
  }
}
// -- CTA FINALE --
